<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<section class="mailchimp-contact-report">
  <ul>
    <li>
      <div id="mailchimp-contact-report__email-received"></div>
    </li>
    <li>
      <div id="mailchimp-contact-report__email-opened"></div>
    </li>
  </ul>
</section>
